<% layout('layouts/nomenu') -%>

    <style>
        form {
            position: relative;
            max-width: 40em;
            padding: 1em;
            margin-left: 1em;
            border: 1px solid black;
            border-radius: 5px;
            background-color: #aaaaaa;
        }
    </style>

    <div>
        <div class="container">
            <h1>Welcome to ScrambleFace
                <% if (site.version) { %>
                    <%= site.version %>
                        <% } %>
            </h1>
            <h2>What is it?</h2>
            <p>The server for a cloud-toy patterned after the Scramble Suit from A Scanner Darkly<br/>
                <img src="https://filmfork-cdn.s3.amazonaws.com/content/scramble.gif"></img><br/>
                <a href="http://thedissolve.com/features/movie-of-the-week/823-how-animation-stabilizes-a-scanner-darklys-shiftin/">source</a>
            </p>
            <p>A live deployment of the server is at <a href="http://scrambleface.qvwx.de/index">http://scrambleface.qvwx.de/index</a></p>
            <h2>API</h2>
            <p>The API is simple http decorated with custom headers at a whim. This document when delivered from an active server
                has living examples, so pattern your usage after it for success.</p>
            <h3>POST for upload</h3>
            <p>The server supports standard multipart-form-data uploads like from this trivially simple form:</p>
            <form ref='uploadForm' id='uploadForm' action='/upload' method='post' encType="multipart/form-data">
                <input type="file" name="file0" /><br/>
                <input type="file" name="file1" /><br/>
                <input type="file" name="file2" /><br/>
                <input type="file" name="file3" /><br/>
                <input type="file" name="file4" /><br/>
                <input type="file" name="file5" /><br/>
                <input type='submit' value='Submit' />
            </form>
            <h3>GET for download</h3>
            <p>GET-requests can be used to retrieve specific or random images in complete and tiled form.</p>
            <h3>DELETE for remove</h3>
            <p>DELETE-requests remove image from the pool, there is no security on them.</p>
        </div>
    </div>

    <script>

    </script>