<% layout('layouts/nomenu') -%>

<div>
	<div class="container">
        <div class="header">
			<h1>Welcome to ScrambleFace <% if (site.version) { %><%= site.version %><% } %></h1>		
		</div>
	</div>
</div>

<script>
</script>