<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="interCOMM ServiceBroker">
		<meta name="author" content="Visionhall">
		<link rel="shortcut icon" href="img/favicon.png">

		<link rel="manifest" href="manifest.json">

		<title>
			CMSServiceBroker <% if (site.version) { %><%= site.version %><% } %>
		</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
    
		<!-- Main content of pages using this layout goes here -->
		<%- body %>

	</body>
</html>